{% extends 'base.html.twig' %}

{% block title %}JobOffer{% endblock %}

{% block body %}
    <h1 style="padding-top:10rem; text-align:center; background-color:#2F3138; margin-top:0; color:white; padding-bottom:2%">JobOffer</h1>

    <div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">{{job_offer.title}}</h2>
                        <span class="white-text">{{job_offer.id}}</span>
                        <ol class="breadcrumb">
                            <li>
                                <div class="portfolio-nav">
                                    {% if job_previous|length != 0 %}
                                        <a href="{{path('job_offer_show', { id: job_previous[0].id })}}" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                    {% endif %}
                                        <a href="{{ path('job_offer_index') }}" class="waves-effect waves-dark"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    {% if job_next|length != 0 %}
                                        <a href="{{path('job_offer_show', { id: job_next[0].id })}}" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <section class="single-project-section section-padding light-gray-bg">
            <div class="container">
                <div class="project-overview">
                    <div class="row mb-80">
                        <div class="col-xs-12 col-md-8">
                            <p class="ref grey-text no-margin">{{job_offer.id}}</p>
                            <h2>{{job_offer.title}}</h2>
                            <p>{{job_offer.description}}</p>
                            
                        </div>

                        <div class="col-xs-12 col-md-4 quick-overview">
                            <ul class="portfolio-meta">
                                <li><span> Published at </span>{{job_offer.creationDate|date('d/m/Y')}}</li>
                
                                <li><span> Contract Type </span>{{job_offer.jobType}}</li>
                                <li><span> Salary </span>{{job_offer.salary}} &euro;</li>
                                <li><span> Location </span>{{job_offer.location}}</li>
                                <li><span> Closing date </span>{{job_offer.closingDate|date('d/m/Y')}}</li>
                            </ul>
                            

                             {% if is_granted('ROLE_ADMIN') %}
                                    <a style="width:23.5vw; height:8vh; font-size:3rem; " class="btn gradient secondary waves-effect waves-light btn-register" href="{{ path('job_offer_edit', {'id': job_offer.id}) }}">edit</a>
                             {% else %}
                                    {% if candidatureExists %}
                                        <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                                    {% else %}
                                        <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="{{ path ('candidature_new', {id:job_offer.id})}}">Apply for this job</a>
                                    {% endif %}
                             {% endif %}
                        </div>
                    </div>
                </div>

                <nav class="single-post-navigation no-margin" role="navigation">
                    <div class="row">

                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="previous-post-link">
                                {% if job_previous|length != 0 %}
                                    <a href="{{path('job_offer_show', { id: job_previous[0].id })}}" class="waves-effect waves-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-4"></div>
                        <div class="col-xs-6 col-sm-6 col-md-4">
                            <div class="next-post-link">
                                {% if job_next|length != 0 %}
                                    <a href="{{path('job_offer_show', { id: job_next[0].id })}}" class="waves-effect waves-dark">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </section>

    </div>

</div>

    <a class="btn bn-lg grey darken-1 btn-block waves-effect waves-light btn-register" href="{{ path('admin_job_offer_index') }}">back to list</a>

    {{ include('job_offer/_delete_form.html.twig') }}
{% endblock %}