{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Gendre</th>
                <td>{{ candidate.gendre }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ candidate.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ candidate.LastName }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ candidate.Adress }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ candidate.Country }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ candidate.Nationality }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ candidate.passport ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PassportFile</th>
                <td>{{ candidate.passportFile }}</td>
            </tr>
            <tr>
                <th>CurriculumVitae</th>
                <td>{{ candidate.CurriculumVitae }}</td>
            </tr>
            <tr>
                <th>ProfilPicture</th>
                <td>{{ candidate.ProfilPicture }}</td>
            </tr>
            <tr>
                <th>CurrentLocation</th>
                <td>{{ candidate.CurrentLocation }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ candidate.dateOfBirth ? candidate.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PlaceOfBirth</th>
                <td>{{ candidate.PlaceOfBirth }}</td>
            </tr>
            <tr>
                <th>EmailAdress</th>
                <td>{{ candidate.EmailAdress }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ candidate.password }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ candidate.Availability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ candidate.user }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidate_crud_index') }}">back to list</a>

    <a href="{{ path('app_candidate_crud_edit', {'id': candidate.id}) }}">edit</a>

    {{ include('candidate_crud/_delete_form.html.twig') }}
{% endblock %}
